@charset "utf-8";
.sec-con{
    width: 1170px;
    margin: 0 auto;
}
aside{
    width: 1300px;
    margin: 0px -51px!important;
}
.box{
    width: 31.3%;
    min-height:500px;
    float: left;
    margin: 0 10px;
    img{
        display: block;
        max-width: 100%;
        height: auto;  
    }
    h3{
        margin-top: 20px;
        margin-bottom: 10px;    
    }
}
.box_word{
    h3{
        a{
            color: #4d4d4d;
            transition:.2s;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: #4d4d4d;
            letter-spacing: 1px;
            font-size:32px;
            &:hover{
                color: #C4A648;;
            }
        }
    }
    p{
        margin: 0 0 20px;
        color: #666;
        font-size: 15px;  
    }
    >a{
        padding: 10px 25px;
        color: #fff;
        background-color: #C4A648;
        min-width: 110px;
        letter-spacing: 1.5px;
        margin: 10px auto;
        &:hover{
            color: #785843;
            background-color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-weight: bold;
            font-size: 14px;
        }
    }
}
::selection{
    background: #C4A648;
    color: #fff;
    text-shadow: none;
}